<div class="internal-server-error">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>Oops!</h1>
        <h2>505 INTERNAL SERVER ERROR</h2>
        <div class="error-details">Sorry, an error has occured!</div>
        <div class="error-actions">
          <button (click)="homeRedirect()" class="btn-home">
            Take Me Home
          </button>
          <button (click)="contactusRedirect()" class="pull-left btn-contactus">
            Contact Support
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
