<div class="footer-container">
    <ul>
        <li><a routerLink="internal-error">About us</a></li>
        <li><a routerLink="internal-error">Contact us</a></li>
        <li><a routerLink="internal-error"> Feedback</a></li>
        <li><a routerLink="internal-error">Twitter</a></li>
        <li><a routerLink="internal-error">Linked In</a></li>
        <li><a routerLink="internal-error">Facebook</a></li>
        <li><a routerLink="internal-error">Instagram</a></li>
        <li><a routerLink="internal-error">Redit</a></li>
        <li><a routerLink="internal-error">Medium</a></li>
        <li><a routerLink="internal-error">Youtube</a></li>
    </ul>
    <span class="copyrights">© copyrights 2023 Jagbir Singh</span>
</div>