<div class="add-product">
  <h1>Add New Product</h1>
  <p class="success-msg">{{addProductMsg}}</p>
  <form #addProduct="ngForm" class="common-form" (ngSubmit)="onClickAddProduct(addProduct.value)" ngNativeValidate>
    <input class="form-input" type="text" ngModel name="name" placeholder="Enter Product Name" required />
    <input class="form-input" type="text" ngModel name="price" placeholder="Enter Product Price" required />
    <input class="form-input" type="text" ngModel name="category" placeholder="Enter Product Category" required />
    <input class="form-input" type="text" ngModel name="color" placeholder="Enter Product Color" required />
    <textarea class="form-input" type="text" ngModel name="description" placeholder="Enter Product Description"
      required></textarea>
    <input class="form-input" type="text" ngModel name="imageURL" placeholder="Enter Product Image URL" required />
    <button class="form-button" type="submit">Add product</button>
  </form>
</div>